*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 1200px;
    height: 200px;
    justify-content: space-evenly;
}
.item_1{
        background-color: blue;
        width: 200px;
        height: 200px;
}
.item_2{
    background-color: black;
    width: 200px;
    height: 200px;
}
.item_3{
    background-color: red;
    width: 200px;
    height: 200px;
}
.item_4{
    background-color: green;
    width: 200px;
    height: 200px;
}